button {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  cursor: pointer;
}

button.close-btn {
  float: right;
  padding: 2px 6px;
  background: transparent;
  border: none;
}

.glyph-editors {
  display: flex;
  gap: 10px;
  overflow-x: auto;

  fieldset {
    display: grid;
    grid-template-columns: repeat(2, fit-content(100px));
    align-content: start;

    label {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 1/-1;
      justify-content: space-between;
    }

    legend,
    table {
      grid-column: 1 / -1;
    }
  }
}

table#characters td {
  cursor: pointer;
  text-align: center;
}

table#characters td:empty {
  cursor: not-allowed;
}

table#glyph {
  line-height: 0;
  border-collapse: collapse;
}

table#glyph td {
  padding: 0;
  border: 2px solid #ccc;
}

table#glyph input {
  margin: 0;
  appearance: none;
  width: 100%;
  min-width: 8px;
  aspect-ratio: 1;

  &:hover {
    background: #666;
  }

  &:checked {
    background: #000;
    &:hover {
      background: #aaa;
    }
  }

  &:disabled {
    background: #eee;
    cursor: not-allowed;

    &:hover {
      background: #eee;
    }
  }
}

fieldset textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-family: monospace;
}

fieldset canvas {
  display: block;
  image-rendering: pixelated;
}
